body {
  margin: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table, tr, td {
  padding: 15px 20px;
  font-size: 15px;
  text-align: center;
}

thead td {
  vertical-align: middle;
  font-weight: 900;
  color: #fff;
}

thead td:nth-child(1) {
  background-color: #7887ab;
}

thead td:nth-child(2) {
  background-color: #4f628e;
}
thead td:nth-child(3) {
  background-color: #2e4172;
}

thead td:nth-child(4) {
  background-color: #162955;
}

thead td:nth-child(5) {
  background-color: #061539;
}

td > p {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
}
 
tbody td:first-child {
  text-align: left;
}

tbody > tr:nth-child(even) td:nth-child(odd) {
  background-color: #dbdbdb;
}

tbody > tr:nth-child(even) td:nth-child(even) {
  background-color: #e7e7e7;
}

tbody > tr:nth-child(odd) td:nth-child(odd) {
  background-color: #ececec;
}

tbody > tr:nth-child(odd) td:nth-child(even) {
  background-color: #f3f3f3;
}

tfoot > tr:nth-child(odd) td:nth-child(odd) {
  background-color: #ececec;
}

tfoot > tr:nth-child(odd) td:nth-child(even) {
  background-color: #f3f3f3;
}

[type="button"] {
  padding: 5px 20px;
  text-transform: uppercase;
  background-color: #bbbaba;
  border: 1px solid #8f8e8e;
  font-size: 14px;
}